*{
font-family: Huy;
}




a{
    text-decoration:none;
    color: inherit;
  }

  ul{
    margin: 0;
    padding:0;
    list-style:none;
  }

  .header{
    background-color: #303030;
    color: #fff;
    padding: 29px 0;
  }

  .container{
    max-width: 1170px;
    margin:0 auto;
    padding: 0 30px;
  }

  .nav{
    display: flex;
    justify-content: space-between;
  }

  .menu{
    display: flex;
    align-items: center;
  }

  .menu-item{
    cursor: pointer;
    font-size: 14px;
    border-bottom: 2px solid transparent;
  }

  .menu-item:hover{
    border-bottom: 2px solid #7b6c63;
  }

  .menu-item:not(:last-child){
    margin-right: 30px;
  }

  .logo{
    font-size: 48px;
   line-height: 30px;
    font:bold;
    cursor: pointer;
  }

  .hero{
    padding: 190px 0 187px;
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("../img/fon.png") ;
  }

  .hero-text{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
  }

  .hero-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    padding-top: 32px;
    font-weight: 200;
  }
  .hero-title span{
    color: #7b6c63;
  }

  .hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    width: 260px;
    text-transform: uppercase;
    cursor: pointer;
    height: 60px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
  }

  .about{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-title{
  }

  .about-text{

  }

  .we{
    display: flex;
  }
