a{
    text-decoration:none;
    color: inherit;
  }

  ul{
    margin: 0;
    padding:0;
    list-style:none;
  }

  .header{
    background-color: #303030;
    color: #fff;
  }

  .container{
    max-width: 1170px;
    margin:0 auto;
    padding: 0 30px;
  }

  .nav{
    display: flex;
    justify-content: space-between;
  }

  .menu{
    display: flex;
    align-items: center;
  }

  .menu-item{
    cursor: pointer;
  }

  .menu-item:hover{
    border-bottom: solid #7b6c63;
  }

  .menu-item:not(:last-child){
    margin-right: 30px;
  }
  .logo{
    cursor: pointer;
  }

  .hero{
    margin-bottom: 184px;
    background-image: src="";
  }

  .hero-text{
    text-transform: uppercase;
  }

  .hero-title{
    text-transform: uppercase;
  }
  .hero-title span{
    color: #7b6c63;
  }

  .hero-btn{
    text-transform: uppercase;
    cursor: pointer;
    padding:23px  59px 30px 71px;
    border: 1px solid ;
    background-color: #272420;
    opacity: 0.5;
    border-radius: 5px;
  }